# Assignment 2: Fundamentals of Python (30 pts)

## Question 1: Markdown  (5 pts)

Create a markdown cell below. Do the following tasks: 

- Display an image. (1 pt)
- Write a caption for the image in italics. (1 pt)
- Link a wikipedia page. (1 pt)
- Write a bullet point list summarizing the page (don't be thorough, just want to see you make bullet points.) (1 pt)
- Write an equation on its own line that includes a fraction and an exponent (e.g. 2 squared).

![an image](https://images.immediate.co.uk/production/volatile/sites/4/2022/06/GettyImages-1282300125-2f3f54a.jpg?quality=90&webp=true&crop=5px,197px,1191px,512px&resize=1200,510) 
*This is an image of a turtle I found on the internet*

Here's a [Wikipedia Page](https://en.wikipedia.org/wiki/Turtle)

This page has so much on it!
- instructions
- an image of a turtle
- writing

$$ x = \frac{1}{2} + y^3 $$

## Question 2: Data types and variables (5 pt)


- Create 3 variables with the values of `9`, `9.9`, and `"9"` (1 pt).
- Print out the data types of each variable (1 pt).
- Convert the 3 variable types to the same data type and then add them together to get the following values:
  - `27` (1 pt)
  - `27.9` (1 pt)
  - `999.9` (1 pt)

In [15]:
# your answer here:
a = 9
b = 9.9
c = "9"

type(a) #int
type(b) #float
type(c) #str

a + int(b) + int(c) #this equals 27

float(9) + b + float(c) #this equals 27.9

c + str(a) + str(b) #this equals 999.9

'999.9'

## Question 3: Data structures (5 pt)

- Create a dictionary with 3 keys called `'a'`, `'b'`, and `'c'`. The value for each key should be a blank list. (1 pt)
- Append the list associated with key `a` with a blank set. (1 pt)
- Append the list associated with key `b` with any 4 numbers. (1 pt)
- Change the third item in the list associated with key `b` to be `1000`. (1 pt)
- Print out the dictionary (1 pt)

In [104]:
# your code here:
my_list_a = list()
my_list_b = list()
my_list_c = list()
my_set = set()

my_dict = {'a': my_list_a, 'b': my_list_b, 'c': my_list_c}

my_list_a.append(my_set)
print(my_list_a)

my_list_b = [1, 2, 3, 4]
my_list_b[2] = 1000
print(my_list_b)

my_dict = {'a': my_list_a, 'b': my_list_b, 'c': my_list_c}
print(my_dict)

[set()]
[1, 2, 1000, 4]
{'a': [set()], 'b': [1, 2, 1000, 4], 'c': []}

## Question 4: Transferring to different structure (5 pts)

Some data was collected by 5 different researchers on deer population sizes. Below, this data was recorded with accompanying temperature data and dates in three lists. In each list, one researcher is associated with the same index.

0. Haley McCann
1. Siena Welch
2. Jaylin Mercado
3. Ismael Hayden
4. Nina Bright

Use the data across the three lists to create a dictionary storing each researcher's name and data as key:value pairs. Carefully consider how to best store the data as each value (4 pt).

Retrieve the data from the lists using indexing; **do NOT** manually type the data into the dictionary. (1 pt)

In [101]:
# don't modify the lists

temperatures = [29.75, 12.63, 31.58, 7.16, 32.51]

populations = [442, 336, 505, 913, 933]

dates = ['5/25/2022','3/18/2022','6/28/2022','11/11/2022','7/6/2023']

# your code below:
Haley_data = [temperatures[0], populations[0], dates[0]]
Siena_data = [temperatures[1], populations[1], dates[1]]
Jaylin_data = [temperatures[2], populations[2], dates[2]]
Ismael_data = [temperatures[3], populations[3], dates[3]]
Nina_data = [temperatures[4], populations[4], dates[4]]

DeerData = {'Haley': Haley_data, 'Siena': Siena_data, 'Jaylin': Jaylin_data, 'Ismael':Ismael_data, 'nina': Nina_data}
DeerData['Haley']

[29.75, 442, '5/25/2022']

## Question 5: Booleans
What is the value of each of the following statements? Explain why for each statement. (1 pt each)

In [23]:
# 1
True and False #False because something cannot be both True AND False, so the statement itself is False

# 2
not True or False #False because True OR False would be True, but the NOT at the begining reverses things

# 3
True or False or True #True because True or False is True (times 2)

# 4
not (not True or not False) #False because (not True) means False 
                            #and (not False) means True, so the 
                            # inside of the parenthesis would be TRUE 
                            # (because True or False is True), but the 
                            # NOT outside the parenthesis makes the 
                            # whole statement False because Python uses 
                            # order of operations 

# 5
int( not(10 > 5 and 2 < 3) ) #False because both statements inside the 
                            #parenthesis are True, but the not reverses things

0

### Answers:

## Question 6: Conditionals (5 pt)
 
The following converts Celsius (C) to Farhenheit (F):

$$F = (C * \frac{9}{5}) + 32 $$

You can convert Celsius (C) to Kelvin with the following (K).

$$K = C - 273.15$$

The lowest possible value in Celsius is -273.13, also known as absolute zero.

Create a variable called `cel` set to be some number. It represents temperature in degrees Celsius. (1 pt)

Create another variable called `convert`. Make it have either the value `'far'` or `'kel'`. (1 pt)

Write code that does the following:

If `cel` is below absolute zero, print out an error. Otherwise, convert the value in `cel` to Farhenheit if `convert` is `'far'` and to Kelvin if `convert` is `'kel'`. In both cases, print out the converted value. If `convert` has any other value, print a warning message saying that `convert` is not `'kel'` or `'far'`. (3 pt)

In [114]:
# your code here:
cel = 10
convert = 'far' or 'kel'

if cel < -273.13:
    print(ValueError)
else:
    if convert == 'far':
        print((cel * (9/5)) + 32)
    elif convert == 'kel':
        print(cel + 273.15)
    else:
        print('Warning: convert is not kel or far')

50.0