# Assignment 2: Fundamentals of Python (30 pts)

## Question 1: Markdown  (5 pts)

Create a markdown cell below. Do the following tasks: 

- Display an image. (1 pt)
- Write a caption for the image in italics. (1 pt)
- Link a wikipedia page. (1 pt)
- Write a bullet point list summarizing the page (don't be thorough, just want to see you make bullet points.) (1 pt)
- Write an equation on its own line that includes a fraction and an exponent (e.g. 2 squared).

![puppy photo](https://hips.hearstapps.com/hmg-prod/images/dog-puns-1581708208.jpg)
*italics*
[puppy wiki](https://en.wikipedia.org/wiki/Puppy)
- puppy development
- puppy socialization
- puppy docking and declawing
- gallery
$$ \frac{1}{2}=\sqrt{2^2} $$

## Question 2: Data types and variables (5 pt)


- Create 3 variables with the values of `9`, `9.9`, and `"9"` (1 pt).
- Print out the data types of each variable (1 pt).
- Convert the 3 variable types to the same data type and then add them together to get the following values:
  - `27` (1 pt)
  - `27.9` (1 pt)
  - `999.9` (1 pt)

In [4]:
# your answer here:
integer=9
float=9.9
text="9"
print(type(integer))
print(type(float))
print(type(text))
print(integer+int(float)+int(text))
print(integer+float+int(text))
print(str(integer)+str(text)+str(float))

<class 'int'>
<class 'float'>
<class 'str'>
27
27.9
999.9

## Question 3: Data structures (5 pt)

- Create a dictionary with 3 keys called `'a'`, `'b'`, and `'c'`. The value for each key should be a blank list. (1 pt)
- Append the list associated with key `a` with a blank set. (1 pt)
- Append the list associated with key `b` with any 4 numbers. (1 pt)
- Change the third item in the list associated with key `b` to be `1000`. (1 pt)
- Print out the dictionary (1 pt)

In [14]:
# your code here:
dic={'a':[],'b':[],'c':[]}
dic['a']=dict()
dic['b']=[1,2,3,4]
dic['b'][2]=1000
print(dic)

{'a': {}, 'b': [1, 2, 1000, 4], 'c': []}

## Question 4: Transferring to different structure (5 pts)

Some data was collected by 5 different researchers on deer population sizes. Below, this data was recorded with accompanying temperature data and dates in three lists. In each list, one researcher is associated with the same index.

0. Haley McCann
1. Siena Welch
2. Jaylin Mercado
3. Ismael Hayden
4. Nina Bright

Use the data across the three lists to create a dictionary storing each researcher's name and data as key:value pairs. Carefully consider how to best store the data as each value (4 pt).

Retrieve the data from the lists using indexing; **do NOT** manually type the data into the dictionary. (1 pt)

In [18]:
# don't modify the lists

temperatures = [29.75, 12.63, 31.58, 7.16, 32.51]

populations = [442, 336, 505, 913, 933]

dates = ['5/25/2022','3/18/2022','6/28/2022','11/11/2022','7/6/2023']

# your code below:
HaleyMcCann={'temperatures':temperatures[0], 'population':populations[0],'dates':dates[0]}
SienaWelch={'temperatures':temperatures[1],'populations':populations[1],'dates':dates[1]}
JaylinMercado={'temperatures':temperatures[2],'populations':populations[2],'dates':dates[2]}
IsmaelHayden={'temperatures':temperatures[3],'populations':populations[3],'dates':dates[3]}
NinaBright={'temperatures':temperatures[4],'populations':populations[4],'dates':dates[4]}
data={'Haley McCann':HaleyMcCann,'Siena Welch':SienaWelch,'Jaylin Mercado':JaylinMercado,'Ismael Hayden':IsmaelHayden,'Nina Bright':NinaBright}
print(data)

{'Haley McCann': {'temperatures': 29.75, 'population': 442, 'dates': '5/25/2022'}, 'Siena Welch': {'temperatures': 12.63, 'populations': 336, 'dates': '3/18/2022'}, 'Jaylin Mercado': {'temperatures': 31.58, 'populations': 505, 'dates': '6/28/2022'}, 'Ismael Hayden': {'temperatures': 7.16, 'populations': 913, 'dates': '11/11/2022'}, 'Nina Bright': {'temperatures': 32.51, 'populations': 933, 'dates': '7/6/2023'}}

## Question 5: Booleans
What is the value of each of the following statements? Explain why for each statement. (1 pt each)

In [1]:
# 1
True and False

# 2
not True or False

# 3
True or False or True

# 4
not (not True or not False)

# 5
int( not(10 > 5 and 2 < 3) )

0

### Answers:

#1: False, because both have to be True for an 'and' condition to be True

#2:False, because not True=False, False or False = False

#3:True, because or only needs one of them to be True, so True or False =True, True or True =True

#4:False, because not True =False, not False=True, False or True=True, not(True)=False

#5:0, 10>5=True, 2<3=True, True and True=True, not(True)=False, int(False)=0

## Question 6: Conditionals (5 pt)
 
The following converts Celsius (C) to Farhenheit (F):

$$F = (C * \frac{9}{5}) + 32 $$

You can convert Celsius (C) to Kelvin with the following (K).

$$K = C - 273.15$$

The lowest possible value in Celsius is -273.13, also known as absolute zero.

Create a variable called `cel` set to be some number. It represents temperature in degrees Celsius. (1 pt)

Create another variable called `convert`. Make it have either the value `'far'` or `'kel'`. (1 pt)

Write code that does the following:

If `cel` is below absolute zero, print out an error. Otherwise, convert the value in `cel` to Farhenheit if `convert` is `'far'` and to Kelvin if `convert` is `'kel'`. In both cases, print out the converted value. If `convert` has any other value, print a warning message saying that `convert` is not `'kel'` or `'far'`. (3 pt)

In [2]:
# your code here:
cel=25
convert='kel'
if cel>=-273.15:
    if convert=='kel' or 'far':
        print(cel+273.15)
    else:
        print("convert is not kel or far")
else:
    print("ERROR")

298.15