# Assignment 2: Fundamentals of Python (30 pts)

## Question 1: Markdown  (5 pts)

Create a markdown cell below. Do the following tasks: 

- Display an image. (1 pt)
- Write a caption for the image in italics. (1 pt)
- Link a wikipedia page. (1 pt)
- Write a bullet point list summarizing the page (don't be thorough, just want to see you make bullet points.) (1 pt)
- Write an equation on its own line that includes a fraction and an exponent (e.g. 2 squared).

![An image]()


*A photo of a cat loaf*


[Wikipedia link](https://en.wikipedia.org/wiki/Death_from_laughter)
- list of people who have died from laughter 
- excessive laughter can cause cardiac arrest or asphyixation

$\frac{3}{10} + (2)^{3}$

## Question 2: Data types and variables (5 pt)


- Create 3 variables with the values of `9`, `9.9`, and `"9"` (1 pt).
- Print out the data types of each variable (1 pt).
- Convert the 3 variable types to the same data type and then add them together to get the following values:
  - `27` (1 pt)
  - `27.9` (1 pt)
  - `999.9` (1 pt)

In [62]:
# your answer here:

x = 9
y = 9.9
z = "9"
print(type(x))
print(type(y))
print(type(z))

print(x +int(y) +int(z))
print(float(x) + (y) + float(z))

sum = 110 * x
sum += y 
print(sum)

<class 'int'>
<class 'float'>
<class 'str'>
27
27.9
999.9

## Question 3: Data structures (5 pt)

- Create a dictionary with 3 keys called `'a'`, `'b'`, and `'c'`. The value for each key should be a blank list. (1 pt)
- Append the list associated with key `a` with a blank set. (1 pt)
- Append the list associated with key `b` with any 4 numbers. (1 pt)
- Change the third item in the list associated with key `b` to be `1000`. (1 pt)
- Print out the dictionary (1 pt)

In [64]:
# your code here:
my_dict = {'a':[], 'b':[], 'c':[]}
my_dict['a'] = set()
my_dict['b'] = [20,40,60,80]
my_dict['b'][2] = 1000
print(my_dict)

{'a': set(), 'b': [20, 40, 1000, 80], 'c': []}

## Question 4: Transferring to different structure (5 pts)

Some data was collected by 5 different researchers on deer population sizes. Below, this data was recorded with accompanying temperature data and dates in three lists. In each list, one researcher is associated with the same index.

0. Haley McCann
1. Siena Welch
2. Jaylin Mercado
3. Ismael Hayden
4. Nina Bright

Use the data across the three lists to create a dictionary storing each researcher's name and data as key:value pairs. Carefully consider how to best store the data as each value (4 pt).

Retrieve the data from the lists using indexing; **do NOT** manually type the data into the dictionary. (1 pt)

In [55]:
# don't modify the lists

temperatures = [29.75, 12.63, 31.58, 7.16, 32.51]

populations = [442, 336, 505, 913, 933]

dates = ['5/25/2022','3/18/2022','6/28/2022','11/11/2022','7/6/2023']

# your code below:

In [42]:
researcher_dict = {
    'Haley McCann': {'temperatures':temperatures[0], 'populations':populations[0], 'dates':dates[0]}, 
    'Siena Welch': {'temperatures':temperatures[1], 'populations':populations[1], 'dates':dates[1]}, 
    'Jalyin Mercado': {'temperatures':temperatures[2],'populations':populations[2], 'dates':dates[2]}, 
    'Ismael Hayden': {'temperatures':temperatures[3], 'populations':populations[3], 'dates':dates[3]}, 
    'Nina Bright':  {'temperatures':temperatures[4], 'populations':populations[4],  'dates':dates[4]},      
}
print(researcher_dict)

{'Haley McCann': {'temperatures': 29.75, 'populations': 442, 'dates': '5/25/2022'}, 'Siena Welch': {'temperatures': 12.63, 'populations': 336, 'dates': '3/18/2022'}, 'Jalyin Mercado': {'temperatures': 31.58, 'populations': 505, 'dates': '6/28/2022'}, 'Ismael Hayden': {'temperatures': 7.16, 'populations': 913, 'dates': '11/11/2022'}, 'Nina Bright': {'temperatures': 32.51, 'populations': 933, 'dates': '7/6/2023'}}

## Question 5: Booleans
What is the value of each of the following statements? Explain why for each statement. (1 pt each)

In [43]:
#1
a = True and False
print(a)
# False is the value of this statement 
# "AND" between two booleans will only make the statement true if both statements are true
# If one statement is False, it causes the outpout to be false as well

#2
b = not True or False
print(b)
# Not True is equal to false bc "not" reverses the value (not True = False)
# Since both are false, the final answer is False
# "Or" would only make it True if both statements were the same

#3
c = True or False or True
print(c)
# The answer is True if one of the statements is true
# "Or" only needs one of the statements to be True, works bc two True statements
#True is the correct answer

# 4
d = not (not True or not False)
print(d)
# False
# The "not" cancels out the True value and not False becomes True becomes (False or True)
# The not outside the parentheses causes the True value inside to cancel out the True value

# 5
e = int( not(10 > 5 and 2 < 3) )
print(e)
# The value is 0 
# The 10 > 5 and 2 < 3 statements are True
# Because not is outside the parentheses, it turns the statement False
# the "int" at the beginning is applied to the "not" statement
# It causes False to equal to 0, while True is equal to 1
# Because of the not, the final answer is 0

False
False
True
False
0

### Answers:

## Question 6: Conditionals (5 pt)
 
The following converts Celsius (C) to Farhenheit (F):

$$F = (C * \frac{9}{5}) + 32 $$

You can convert Celsius (C) to Kelvin with the following (K).

$$K = C - 273.15$$

The lowest possible value in Celsius is -273.13, also known as absolute zero.

Create a variable called `cel` set to be some number. It represents temperature in degrees Celsius. (1 pt)

Create another variable called `convert`. Make it have either the value `'far'` or `'kel'`. (1 pt)

Write code that does the following:

If `cel` is below absolute zero, print out an error. Otherwise, convert the value in `cel` to Farhenheit if `convert` is `'far'` and to Kelvin if `convert` is `'kel'`. In both cases, print out the converted value. If `convert` has any other value, print a warning message saying that `convert` is not `'kel'` or `'far'`. (3 pt)

In [61]:
'# your code here:'

cel = 40
convert = 'far'

if cel < -273.15:
    print('Error') 
    
elif convert == 'far':
        fahr = (cel * 9/5) + 32
        print(kel)       
else:
    print("Warning, convert is not 'kel' or 'far")

30