# Assignment 2: Fundamentals of Python (30 pts)

## Question 1: Markdown  (5 pts)

Create a markdown cell below. Do the following tasks: 

- Display an image. (1 pt)
- Write a caption for the image in italics. (1 pt)
- Link a wikipedia page. (1 pt)
- Write a bullet point list summarizing the page (don't be thorough, just want to see you make bullet points.) (1 pt)
- Write an equation on its own line that includes a fraction and an exponent (e.g. 2 squared).

![An image](https://i.pinimg.com/originals/0c/7b/a0/0c7ba0a7f5a817a2765147d9066c7122.jpg)

*Me doing anything*

[Yuzuru Hanyu's Career Achievements](https://en.wikipedia.org/wiki/List_of_career_achievements_by_Yuzuru_Hanyu)
- 7 world records since the -5/+5 GOE scoring method was adapted
- 15 "first" records in scores and other categories
- 6 "first" records in technical elements of figure skating

$$(3/2)^5

## Question 2: Data types and variables (5 pt)


- Create 3 variables with the values of `9`, `9.9`, and `"9"` (1 pt).
- Print out the data types of each variable (1 pt).
- Convert the 3 variable types to the same data type and then add them together to get the following values:
  - `27` (1 pt)
  - `27.9` (1 pt)
  - `999.9` (1 pt)

In [23]:
# your answer here:
x = 9
y = 9.9 
z = "9"
type(x), type(y), type(z)

int(z) + int(y) + x

float(z) + float(x) + y

z + str(x) + str(y)

'999.9'

## Question 3: Data structures (5 pt)

- Create a dictionary with 3 keys called `'a'`, `'b'`, and `'c'`. The value for each key should be a blank list. (1 pt)
- Append the list associated with key `a` with a blank set. (1 pt)
- Append the list associated with key `b` with any 4 numbers. (1 pt)
- Change the third item in the list associated with key `b` to be `1000`. (1 pt)
- Print out the dictionary (1 pt)

In [1]:
# your code here:
dictionary = {'a':list(), 'b':list(), 'c':list()}

blank_set = set()

dictionary['a'].append(blank_set)

dictionary['b'].extend((1,2,3,4))

dictionary['b'][2] = 1000

print(dictionary)

{'a': [set()], 'b': [1, 2, 1000, 4], 'c': []}

## Question 4: Transferring to different structure (5 pts)

Some data was collected by 5 different researchers on deer population sizes. Below, this data was recorded with accompanying temperature data and dates in three lists. In each list, one researcher is associated with the same index.

0. Haley McCann
1. Siena Welch
2. Jaylin Mercado
3. Ismael Hayden
4. Nina Bright



Retrieve the data from the lists using indexing; **do NOT** manually type the data into the dictionary. (1 pt)

In [2]:
# don't modify the lists

temperatures = [29.75, 12.63, 31.58, 7.16, 32.51]

populations = [442, 336, 505, 913, 933]

dates = ['5/25/2022','3/18/2022','6/28/2022','11/11/2022','7/6/2023']

# your code below:

McCann = {'temp':temperatures[0],'pop':populations[0],'date':dates[0]}
Welch = {'temp':temperatures[1],'pop':populations[1],'date':dates[1]}
Mercado = {'temp':temperatures[2],'pop':populations[2],'date':dates[2]}
Hayden = {'temp':temperatures[3],'pop':populations[3],'date':dates[3]}
Bright = {'temp':temperatures[4],'pop':populations[4],'date':dates[4]}

massdata = {'Haley_McCann':McCann, 'Siena_Welch':Welch, 'Jaylin_Mercado':Mercado, 'Ismael_Hayden':Hayden, 'Nina_Bright':Bright}

massdata

{'Haley_McCann': {'temp': 29.75, 'pop': 442, 'date': '5/25/2022'},
 'Siena_Welch': {'temp': 12.63, 'pop': 336, 'date': '3/18/2022'},
 'Jaylin_Mercado': {'temp': 31.58, 'pop': 505, 'date': '6/28/2022'},
 'Ismael_Hayden': {'temp': 7.16, 'pop': 913, 'date': '11/11/2022'},
 'Nina_Bright': {'temp': 32.51, 'pop': 933, 'date': '7/6/2023'}}

## Question 5: Booleans
What is the value of each of the following statements? Explain why for each statement. (1 pt each)

In [2]:
# 1
True and False

# False because a situation cannot be both true and false

# 2
not True or False

# False because "not True" translates to False too

# 3
True or False or True

# True because a situation can be True or False

# 4
not (not True or not False)

# False because the 'not' turns it into the inverse, so while the answer in the parentheses is True the answer is turned to False

# 5
int( not(10 > 5 and 2 < 3) )

# 0 because the answer inside int() would be False (as the answer inside not() would be True and "not" would turn it into False) and int() would
# change it to a numerical equivalent (which would be 0)

0

### Answers:

## Question 6: Conditionals (5 pt)
 
The following converts Celsius (C) to Farhenheit (F):

$$F = (C * \frac{9}{5}) + 32 $$

You can convert Celsius (C) to Kelvin with the following (K).

$$K = C + 273.15$$

The lowest possible value in Celsius is -273.13, also known as absolute zero.

Create a variable called `cel` set to be some number. It represents temperature in degrees Celsius. (1 pt)

Create another variable called `convert`. Make it have either the value `'far'` or `'kel'`. (1 pt)

Write code that does the following:

If `cel` is below absolute zero, print out an error. Otherwise, convert the value in `cel` to Farhenheit if `convert` is `'far'` and to Kelvin if `convert` is `'kel'`. In both cases, print out the converted value. If `convert` has any other value, print a warning message saying that `convert` is not `'kel'` or `'far'`. (3 pt)

In [2]:
# your code here:

cel = -273
convert = 'kel'

if cel < -273.13:
    print('Error: impossible value')

else: 
    if convert == 'far':
        f = (cel*(9/5)) + 32
        print(f)
    
    elif convert == 'kel':
        k = cel + 273.15
        print(k)
    else:
        print("Error: convert not 'kel' or 'far'")

0.14999999999997726