# Assignment 2: Fundamentals of Python (30 pts)

## Question 1: Markdown  (5 pts)

Create a markdown cell below. Do the following tasks: 

- Display an image. (1 pt)
- Write a caption for the image in italics. (1 pt)
- Link a wikipedia page. (1 pt)
- Write a bullet point list summarizing the page (don't be thorough, just want to see you make bullet points.) (1 pt)
- Write an equation on its own line that includes a fraction and an exponent (e.g. 2 squared).

<!-- display image -->
![An image](BrandeisLogo.png "Brandeis Logo")<br>
*This is the Brandeis Logo*<br>
[A link](https://en.wikipedia.org/wiki/American_football)

- Number 1 
- Number 2
- Number 3 


$$ \frac{2}{5} = x^2 $$

## Question 2: Data types and variables (5 pt)


- Create 3 variables with the values of `9`, `9.9`, and `"9"` (1 pt).
- Print out the data types of each variable (1 pt).
- Convert the 3 variable types to the same data type and then add them together to get the following values:
  - `27` (1 pt)
  - `27.9` (1 pt)
  - `999.9` (1 pt)

In [1]:
# your answer here:
a = 9
b = 9.9
c = "9"

print(type(a), type(b), type(c))

a = float(a)
b = float(b)
c = float(c)

print(int(a + b + c))
print(a + b + c)
print(str(int(a)) + str(int(c)) + str(b))

<class 'int'> <class 'float'> <class 'str'>
27
27.9
999.9

## Question 3: Data structures (5 pt)

- Create a dictionary with 3 keys called `'a'`, `'b'`, and `'c'`. The value for each key should be a blank list. (1 pt)
- Append the list associated with key `a` with a blank set. (1 pt)
- Append the list associated with key `b` with any 4 numbers. (1 pt)
- Change the third item in the list associated with key `b` to be `1000`. (1 pt)
- Print out the dictionary (1 pt)

In [1]:
# your code here:
dic = {"a": [], "b": [], "c": []}
dic["a"].append(set())
for i in range(1, 5):
    dic['b'].append(i)
dic["b"][2] = 1000

dic

{'a': [set()], 'b': [1, 2, 1000, 4], 'c': []}

## Question 4: Transferring to different structure (5 pts)

Some data was collected by 5 different researchers on deer population sizes. Below, this data was recorded with accompanying temperature data and dates in three lists. In each list, one researcher is associated with the same index.

0. Haley McCann
1. Siena Welch
2. Jaylin Mercado
3. Ismael Hayden
4. Nina Bright

Use the data across the three lists to create a dictionary storing each researcher's name and data as key:value pairs. Carefully consider how to best store the data as each value (4 pt).

Retrieve the data from the lists using indexing; **do NOT** manually type the data into the dictionary. (1 pt)

In [2]:
# don't modify the lists

temperatures = [29.75, 12.63, 31.58, 7.16, 32.51]

populations = [442, 336, 505, 913, 933]

dates = ['5/25/2022','3/18/2022','6/28/2022','11/11/2022','7/6/2023']

# your code below:

researchers = ["Haley McCann", "Siena Welch", "Jaylin Mercado", "Ismael Hayden", "Nina Bright"]

dic = {}

for i in range(len(temperatures)):
	dic[researchers[i]] = [ dates[i], temperatures[i], populations[i]]

dic

{'Haley McCann': ['5/25/2022', 29.75, 442],
 'Siena Welch': ['3/18/2022', 12.63, 336],
 'Jaylin Mercado': ['6/28/2022', 31.58, 505],
 'Ismael Hayden': ['11/11/2022', 7.16, 913],
 'Nina Bright': ['7/6/2023', 32.51, 933]}

## Question 5: Booleans
What is the value of each of the following statements? Explain why for each statement. (1 pt each)

In [4]:
# 1
True and False

# 2
not True or False


# 3
True or False or True


# 4
not (not True or not False)


# 5
int( not(10 > 5 and 2 < 3) )

0

### Answers:

In [5]:
# 1
# False because you need both to be true to return true

# 2
# False because if one is true it will return true, but because of the not, it will return false

# 3
# True because one is true, so it will return true

# 4
# False the booleans within the parentheses are true, but because of the not, it will return false

# 5
# 0 because the booleans within the parentheses are true, but because of the not, it will return false, 
# and then because of the int, it will return 0 to represent false

## Question 6: Conditionals (5 pt)
 
The following converts Celsius (C) to Farhenheit (F):

$$F = (C * \frac{9}{5}) + 32 $$

You can convert Celsius (C) to Kelvin with the following (K).

$$K = C - 273.15$$

The lowest possible value in Celsius is -273.13, also known as absolute zero.

Create a variable called `cel` set to be some number. It represents temperature in degrees Celsius. (1 pt)

Create another variable called `convert`. Make it have either the value `'far'` or `'kel'`. (1 pt)

Write code that does the following:

If `cel` is below absolute zero, print out an error. Otherwise, convert the value in `cel` to Farhenheit if `convert` is `'far'` and to Kelvin if `convert` is `'kel'`. In both cases, print out the converted value. If `convert` has any other value, print a warning message saying that `convert` is not `'kel'` or `'far'`. (3 pt)

In [6]:
# your code here:

cel = 23
convert = 'far'
if cel < -273.13:
	print("Shouldn't be below absolute zero")
else:
	if convert == 'far':
		print(str(cel * 9/5 + 32) + "°F")
	elif convert == 'kel':
		print(str(cel - 273.15)+ "°K")
	else:
		print("Not a valid conversion")

73.4°F